ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    justify-content: center;
    width: 80%;
    margin: auto;
}